NEXT_PUBLIC_KEYCLOAK_REALM=fincycle
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=nextfront
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080/auth/
NEXT_PUBLIC_API_URL=http://host.docker.internal:3000
JWT_SECRET="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqiF7ZNQONOc1SE67I4ffMNIjDgI+V8CVhUNsJf4U/kJoyz42rtXn4tywv9ffpO3rE86AMYff5kxYU/xnjZYHJdfjjfofimCann8NhKgKK09wDraS5Q4ZOTyjfK6E+E6th578S/PnoS3RUapreCRZvhGPZI/kYxwa2fokoBim2ePmDTj7SIgaiZt1PUYEWC9oqIojG5MOQ2wJPWvxfx/kr3ruA27aGX+zn/BSDf6pZvampVEL6V3caWsYMtv+DWyPnqxUXFsmq2zj/MAAZyM5WhgMwAh7Dw+RFUFP8QIVf5j5qUIPoKur0NFl/Ae9JacXIhGdsnRSb7wv35Wr4cd8mQIDAQAB\n-----END PUBLIC KEY-----"